body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    margin-top: 50px;
    display: flex;
    width: 500px;
    height: 300px;
    border: 1px solid silver;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.card-header {
    color: black;
    font-weight: bold;
}

.card-body {
    border: 1px solid silver;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    border-radius: 5px;
    margin-top: 10px;
}

.form-group {
    display: flex;
    height: 90%;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    width: 100%;
}

input {
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 97%;
    box-sizing: border-box;
}

.btn-primary {
    width: 70px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.invalid-feedback {
    display: block;
    color: #dc3545;
    margin-top: 5px;
}